
body{
    margin: auto;
    background-image: url(https://i.pinimg.com/564x/02/f7/af/02f7af655900451c3e842d89a437715f.jpg);
    background-position: center;
    width: 1300px;
    height: 2750px;
}

.table-content {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse; 
    width: 1200px;
}

.table-content2 {
    margin: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 1200px; 
}
.overflow-hidden{
   
}

.td-size400{
    width: 400px;
}
.td-size50{
    width: 50px;
}
.td-size750{
    width: 750px;
}

td {
    padding-top: 50px;
    text-align: center;
    overflow: hidden;
}



.text-align-center{
padding-right: 270px ;
}

.text-align-left{
    text-align: left !important;
    padding: 5px;
}
.left50{
    padding-left: 50px;
}

.padding-right-profile{
    padding-left: 200px;
}

.format-profile-picture{
    width: 210px;
    height: 200px;
    border-radius: 40px 100px 30px 100px;
}
.coustom-line{
    border: 2px solid rgb(61, 36, 13);
    border-radius: 10px;
    width: 1200px;
}

.coustom-line-title{
    border: 2px solid rgb(61, 36, 13);
    border-radius: 10px;
    width: 700px;
    text-align: right;
}
.coustom-line-title2{
    border: 2px solid rgb(219, 197, 179);
    border-radius: 10px;
    width: 300px;
    text-align: right !important;
}
.vertical-line1{
    border-left: 6px solid rgb(61, 36, 13);
    height: 250px;
}
.vertical-line2{
    border-left: 6px solid rgb(61, 36, 13);
    height: 300px;
}
.skill-line{
    background-color: #ddd;
    border-radius: 5px;
    height: 10px;
    width: 200px;
}

.progressbar-80{
    background-color: #3f290b;
    border-radius: 5px;
    height: 100%;
    width: 160px;
    transition: width 0.5s ease-in-out;
}
.progressbar-60{
    background-color: #3f290b;
    border-radius: 5px;
    height: 100%;
    width: 120px;
    transition: width 0.5s ease-in-out;
}
.all{
    padding-left: 50px;
}
.flower-align{
    
    width: 400px;
    height: 340px;
    text-align: left;
    padding-top: 10px;
}
.img-right{
    float: right;
    margin: 0 0 0 0px;
    width: 280px;
    height: 300px;
    padding-top: 50px;
}
.img-right2{
    float: right;
    margin: 0 0 0 0px;
    width: 50px;
    height: 100px;
    
}
.img-right-up{
    float: right;
    margin: 0 0 0 0px;
    width: 170px;
    height: 190px;
}
.img-left-down{
    float: left;
    width:200px;
    height: 100px;
}
.img-left{
    float: left;
    margin: 0 0 0 0px;
    width: 350px;
    height: 100px;
    filter: invert(100%);
    padding-bottom: 50px;
}
.img-under{
    float: right;
    margin: 0 0 0 0px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
}
.img-corner{
    float: right;
    margin: 0 0 0 0px;
    width: 250px;
    height: 310px;
    padding-left: 200px;
   
}
.rotated{
    transform: rotate(295deg);
}
.rotated2{
    transform: rotate(30deg);
}




.textbox-color{
    background-color: rgb(204, 176, 149);
    width: 180px;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
}
.textbox-color2{
    background-color: rgb(204, 176, 149);
    width: 400px;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
}
.textbox-color3{
    background-color: rgb(204, 176, 149);
    width: 250px;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
}
.textbox-color4{
    background-color: rgb(204, 176, 149);
    width: 120px;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
}
.textbox-color5{
    background-color: rgb(204, 176, 149);
    width: 250px;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
}

.brown-color{
    background-color: rgb(106, 66, 31);
}
.brown-color-round{
    background-color: rgb(106, 66, 31);
    border-radius: 30px;
}
p,h3{
    display: inline;
    color: rgb(219, 197, 179);
}
.font-color{
    color: antiquewhite;
}

.white-color
{
    background-color: aliceblue;
}
.animate-bear{
    margin: 0 auto;
   animation-name: test;
   animation-duration: 10s;
   animation-fill-mode: forwards;
   transition: border-radius 0.25s ease;
   animation-iteration-count: infinite;
  }
  @keyframes test {
    0% {
        transform: translate(200px)
     }
     25%{
        transform: translate(100px)
     }

     50%{
        transform: translate(0px)
     }
     75%{
        transform: translate(100px)
     }
     100%{
        transform: translate(200px)
     }
}

.animate-bear2{
    margin: 0 auto;
   animation-name: test2;
   animation-duration: 10s;
   animation-fill-mode: forwards;
   transition: border-radius 0.25s ease;
   animation-iteration-count: infinite;
  }
  @keyframes test2 {
    0% {
        transform: translate(0px,0px)
     }
     25% {
        transform: translate(0px,50px)
     }

     50%{
        transform: translate(0px,100px)
     }
     75%{
        transform: translate(0px,50px)
     }
     100%{
        transform: translate(0px,0px)
     }
}

.format-icons {
    width: 20px;
    height: 20px;
    animation: shake 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.motion-demo {
    offset-path: path("M20, 10 C850,-600 800,150 1500,30");
    animation: move 8000ms linear infinite;
    width: 100px;
    height: 100px;
    float: left;
  }
  
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
 