
body{
    margin: auto;
    background-color: rgb(219, 216, 206);
}
.table-content {
    margin: auto;
    border-collapse: collapse;
    width: 1200px;
}

.table-content2 {
    margin: auto;
    border-collapse: collapse;
    width: 1200px; 
}

.td-size400{
    width: 400px;
}
.td-size50{
    width: 50px;
}
.td-size750{
    width: 750px;
}

td {
    padding-top: 50px;
    text-align: center;
}



.text-align-center{
text-align: center;
}

.text-align-left{
    text-align: left !important;
    padding: 5px;
}
.left50{
    padding-left: 50px;
}







.format-profile-picture{
    width: 210px;
    height: 200px;
    border-radius: 30px 100px 30px 100px;
}
.horse-size{
    width: 100px;
    height: 100px;
}
.format-icons{
    width: 20px;
    height: 20px;
}

.coustom-line{
    border: 2px solid rgb(61, 36, 13);
    border-radius: 10px;
    width: 1200px;
}

.coustom-line-title{
    border: 2px solid rgb(61, 36, 13);
    border-radius: 10px;
    width: 600px;
    text-align: right;
}
.coustom-line-title2{
    border: 2px solid rgb(219, 197, 179);
    border-radius: 10px;
    width: 300px;
    text-align: right !important;
}
.vertical-line1{
    border-left: 6px solid rgb(61, 36, 13);
    height: 250px;
}
.vertical-line2{
    border-left: 6px solid rgb(61, 36, 13);
    height: 300px;
}



.textbox-color{
    background-color: rgb(204, 176, 149);
    width: 180px;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 10px;
}
.textbox-color2{
    background-color: rgb(204, 176, 149);
    width: 400px;
    height: 20px;
    border-radius: 10px;
    padding-left: 20px;
}

.brown-color{
    background-color: rgb(106, 66, 31);
}
p,h3{
    display: inline;
    color: rgb(219, 197, 179);
}
.font-color{
    color: antiquewhite;
}
.white-color
{
    background-color: aliceblue;
}


.motion-demo {
    offset-path: path("M-525,80 C550,-480 100,0 1000,80");
    animation: move 8000ms linear infinite;
    width: 45px;
    height: 45px;
  }
  
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }